@import url('https://fonts.googleapis.com/css?family=Karla');

html {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
}


.row {
  justify-content: center;
  align-content: center;
}

#LandingPage {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
  background: black;
  transition: background 0.5s ease;
}

.pageTransitionOut
{
  animation: pageTransitionOut 1.5s forwards;
}

.pageTransitionIn
{
  animation: pageTransitionIn 1.5s forwards;
}

#MusicBody{
    background: #E9E9E9;
    font-family: sans-serif;
    padding: 50px;
    z-index: 10;
}



iframe{

  width: 50vw; 
  height: 90vh; /* 100/56.25 = 560/315 = 1.778 */
  margin-top: 80px;
  box-shadow: 0 0 25px 0 black;
  justify-content: center;
  align-content: center;
}



#MusicBody:active{
  transition: background-position 0.1s;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.music-subtitle{
  font-size: 25px;
}

#MusicMainText{
    min-height: 100%;
    color: black;
    z-index: 10;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#LandingPageButton {
  background: transparent;
  box-shadow: 10px, 10px;
  color:#fff;
  border:1px black;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
#LandingPageButton:hover{
  background:#fff;
  color:black;
}
#LandingPageButton:before,#LandingPageButton:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: linear-gradient(to right, rgb(203,52,181), rgb(68,166,187));
  transition:400ms ease all;
}
#LandingPageButton:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#LandingPageButton:hover:before,#LandingPageButton:hover:after{
  width:100%;
  transition:800ms ease all;
}

.header-line {
  font-size: 20px;
}

 .header-title, .header-subtitle {
  color: white;

}

 .header-title {
  font-size: 40px;
}

 .header-subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

 .header-button {
  transform: translateZ(.1px);
  position: relative;
  z-index: 10;
  margin-top: 3rem;
}

 .animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

 .animate-fade-out {
  animation: fade-out 1.5s cubic-bezier(0, 0.9, 0.3, 1.2) backwards;
  opacity: 0;
}

 .animate-fade-in {
  animation: fade-in 0.5s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

 .rocky-dashed {
  animation-delay: .6s;
}

 .header-title {
  animation-delay: .8s;
}

.item-title {
  animation-delay: .8s;
}

 .header-subtitle {
  animation-delay: 1s;
}

.item-subtitle {
  animation-delay: 1s;
}

 .header-button {
  animation-delay: 1.1s;
}

 .flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-container-header {
  margin-top: 10vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

@media screen and (min-width: 650px)
{
  #iframe-body {
    width: 70vw;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    color: black;
    justify-content: center;
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
}
@media screen and (max-width: 649px)
{
  #iframe-body {
    width: 70vw;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    color: #6b6b6b;
    justify-content: left;
    text-align: left;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
}
@media screen and (max-width: 260px)
{
  #iframe-body {
    width: 50vw;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    color: #6b6b6b;
    justify-content: left;
    text-align: left;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
}

@media screen and (min-width: 650px)
{
#iframe-title {
  text-align: center;
  font-size: 50px;
  font-family: 'Karla', sans-serif;
  text-shadow: 2px 2px #bcbcbc;
}
h1 {
  overflow: hidden;
  text-align: center;
}
}
@media screen and (max-width: 649px)
{
  #iframe-title {
  text-align: center;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  text-shadow: 2px 2px #bcbcbc;
}
h1 {
  overflow: hidden;
  text-align: center;
}
}
@media screen and (max-width: 260px)
{
  #iframe-title {
  text-align: center;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  text-shadow: 2px 2px #bcbcbc;
}
h1 {
  overflow: visible;
  text-align: center;
}
}

  .container-fluid {
    margin-top: 5vw;
    justify-content: center;
    align-content: center;
  }


/* Animations */

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pageTransitionOut {
  0% {
    opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes pageTransitionIn {
  0% {
    opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: none;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotate-up {
  100% {
    transform: rotateZ(-4deg);
  }
}

body {
    padding: 0;
    margin: 0;
}

#particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index:0;
}

canvas{
  position: absolute;
  width: 100%;
  height: 100%;
}

#GoToHome{
display: none;
}
#GoToMusic{
display: none;
}
#GoToWebDev{
display: none;
}
#GoToAppDev{
display: none;
}
#GoToPhil{
display: none;
}

.hit-the-floor {
color: black;
font-size: 12em;
font-weight: bold;
font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #157777, 0 3px 0 #157777, 0 4px 0 #157777, 0 5px 0 #aaa, 0 6px 1px #00ffff, 0 0 5px #00e8e8, 0 1px 3px #00dddd, 0 3px 5px #00d3d3, 0 5px 10px #00c9c9, 0 10px 10px #01b7b7, 0 20px 20px #00a5a5;
}

@media screen and (min-width: 660px)
{

.hit-the-floor {
  display: block;
  text-align: center;
}
}

@media screen and (max-width: 659px)
{.hit-the-floor {
  font-size:400%;
   display: block;
  text-align: center;
}
}


h5 {
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  text-rendering: optimizeLegibility;
  }

#Navbar{
  background-color:white;
background-size:100px 50px;  
box-shadow: 0 0 25px 0 black;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#logo
{
  height: 70px
}

.slight-push-right{
  margin-left: 10px;
}

#btn-text a {
    display: inline-block;
    margin: 20px auto;
    max-width: 180px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 7px;
    padding: 20px 30px;
    white-space:nowrap
}

.navButton {
    display: block;
    margin: 20px auto;
    max-width: 180px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
}

#button {
    color: black;
    box-shadow: black 0 0px 0px 2px inset;
}

#button:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: black 0 0px 0px 40px inset;
}

#footer{
  box-shadow: 0 0 25px 0 black;
  background-color:#dbf0e5;
  background-size:100px 50px;  
  overflow: hidden;
}

.text-uppercase
{
  color: black;

}

.footer-body
{
  color: black;

}

#footerList{
  color: black;
  overflow: hidden;
}

.navbar-toggler .navbar-toggler-icon{
  background-color: black;
}

.col-12{
  margin-left: 0;
  margin-right: 0;
}

h1:before,
h1:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
}

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: black;
}
/*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
  color: black;

}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: black;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}
/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#btn-text {
  margin-top: -73px;
  text-align: center;
  overflow-wrap: nowrap;
}

#btn-text a {
  color: black;
  text-decoration: none;
  font-weight: 100;
  font-family: 'Karla', sans-serif;
  font-size: 1.1em;
}
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: orange;
}

h4{
  overflow: visible;
}

.paddingTop {
  padding-top: 5vh;
}

.paddingBottom {
  padding-bottom: 5vh;
}



.view{
    box-shadow: 0 0 0 0 black;
    transition: box-shadow 0.5s ease;
}

.view:hover{
    box-shadow: 0 0 25px 0 black;
    cursor: pointer;
    transition: box-shadow 0.5s ease;
}

#WebDesignTitle {
        position: relative;
        font-size: 200px;
        margin-top: 0;
        font-family: 'Lobster', helvetica, arial;
    }
     
    #WebDesignTitle a {
        text-decoration: none;
        color: #666;
        position: absolute;
         
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
    }
     
    #WebDesignTitle:after {
        content : 'Web Design';
        color: #d6d6d6;
        text-shadow: 0 1px 0 white;
    }

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.box {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  font-size: 20px;
  box-shadow:;
}

.box .inner {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;;
  font-weight: bold;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0 0 25px 0 black;
}

.box .inner:first-child {
  background-color: indianred;
  color: darkred;
  transform-origin: right;
  transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
  background-color: lightcoral;
  color: antiquewhite;
  transform-origin: left;
  transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
  position: absolute;
  animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
  animation-delay: 2.5s;
  left: -100%;
}

@keyframes marquee {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}

#btn-text-small {
  margin-top: -33px;
  text-align: center;
  overflow-wrap: nowrap;
}

#btn-text-small a {
  color: black;
  text-decoration: none;
  font-weight: 100;
  font-family: 'Karla', sans-serif;
  font-size: 1.1em;
}